# Auto-detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to ensure are normalized
*.py text
*.md text
*.json text
*.txt text

# Declare binary files that should NEVER be touched
*.img binary
*.gz binary
*.bin binary
